
@media screen and (max-width:1179px) {
.navbar-default .navbar-brand { max-width: 315px; }
.login-register { margin-left: 0; }
.nav.navbar-nav.navbar-right { margin-right: 0; }
.navbar-default .navbar-nav > li > a { padding: 0 10px; }
.category li { font-size: 14px; }
.section-heading h2 { font-size: 32px; }
.company-logo { float: left; margin-bottom: 20px; width: 100%; }
}

@media screen and (max-width:1023px) {
.navbar-default .navbar-nav > li > a { padding: 0 5px; }
.navbar-default .navbar-nav > li > a { font-size: 13px; font-weight: 600; padding: 0 5px; }
.login-register li > a { font-weight: 600; padding: 5px; }
.login-register { width: 150px; }
.navbar-default .navbar-brand { max-width: 225px; }
form.search_form { padding: 20px; }
.search-main-container { min-height: 490px; padding-top: 50px; }
.search_form h2 { margin-bottom: 20px; }
.search_form h2 { margin-bottom: 20px; }
.popular-search { width: 100%; float: left; }
.popular-search .popular-seacrh-list li a { padding: 0 5px; }
.example-text { margin: 10px 0 20px; }
.search_form .btn.btn-default { margin-top: 15px; top: 0; }
.search-main-container { min-height: 420px; padding-top: 50px; }
.category li { font-size: 12px; font-weight: 500; padding: 0; }
.footer-links h3 { font-size: 15px; font-weight: 600; margin-bottom: 13px; }
.footer-links li a { color: #c1dfff; font-size: 14px; }
/*######### serach results page ########*/

.inner-page-search .search_form .btn.btn-default { margin-top: 25px; top: 0; width: 100%; }
.inner-page-search .example-text { font-size: 12px; margin: 10px 0 15px; }
}

@media screen and (max-width:767px) {
/*nav button here	*/ 

.navbar-default .navbar-toggle { border: none; background: #ebb111; }
.navbar-default .navbar-toggle .icon-bar { background-color: #ffffff; }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: #3b72ab; }
/*nav button  end here	*/ 
	 
	 
.login-register { width: 100%; }
.login-register li { display: inline-block; float: left; margin-bottom: 10px; margin-left: 2%; text-align: center; width: 48%; }
.login-register li:first-child { margin-left: 0; width: 100%; }
.login-register li > a { font-size: 16px; font-weight: 600; padding: 5px; }
.navbar-header.page-scroll { padding-right: 15px; }
ul.login-register.pull-right { width: 100% !important; }
li.login .btn-group { float: left; width: 100%; }
li.login .btn-group a { width: 80%; font-size: 14px; text-align: left; padding: 11px 15px; }
li.login .btn-group button.btn-default { padding-right: 8px; padding-left: 8px; height: 44px; }
.login-register li.login .btn-group .dropdown-menu { left: auto; left: 0; position: absolute; top: 30px; width: 91%; }
li.login .btn-group .dropdown-menu a { padding: 5px 15px; }
.login-register { margin-top: 15px; margin-bottom: 25px; }
.navbar-right { clear: both; float: left; margin: 0; width: 100%; margin-bottom: 10px; }
.navbar-right li { margin-bottom: 2px; }
.navbar-default .navbar-nav > li > a { font-size: 15px; padding: 5px 10px; border-radius: 3px; }
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { background-color: #3b72ab; color: #ffffff; }
.navbar-collapse { background: #f7f7f7 none repeat scroll 0 0; }
.page-section { padding: 30px 0; }
.navbar-default .navbar-brand { margin-top: 0; padding: 0; }
.category li { font-size: 16px; font-weight: 500; padding: 0 15px; }
.navbar-brand.logo > img { padding-left: 15px; padding-top: 15px; }
.navbar-default { min-height: 50px; }
.main-section { height: 1300px; margin-top: 50px; }
.search_form h2 { font-size: 25px; margin-bottom: 15px; }
.search-main-container { min-height: 0; padding: 20px 0; }
/*.search_form input[type="text"] { margin-bottom: 15px; }*/
.search_form .btn.btn-default { clear: both; display: block; float: none !important; margin: 0 auto; top: 0; }
.popular-search { margin-bottom: 15px; }
form.search_form { margin: 0 -15px; padding: 20px; }
.popular-search { font-size: 12px; margin-top: 15px; }
.example-text { margin: 0; margin-bottom: 18px; }
.locations { text-align: center; }
.locations > li { margin-bottom: 25px; }
.footer-links h3 { font-size: 20px; }
.footer-links { margin-bottom: 20px; }
.footer-links:last-child { margin-bottom: 0; }
.footer-secoandry { padding: 15px 0; text-align: center; }
.logo-fotter, .copyright { width: 100%; }
/*######### serach results page ########*/
.inner-page-search { padding: 0 15px; }
.inner-page-search form.search_form { padding: 15px; }
form.search_form .form-control { border-width: 2px; height: 40px; }
.example-text { font-size: 12px; }
}

@media screen and (max-width:666px) {
.section-heading h2 { font-size: 25px; margin-bottom: 30px; }
}

@media screen and (max-width:567px) {
.btn-default { font-size: 18px; padding: 5px 30px; }
.search_form h2 { font-size: 20px; margin-bottom: 15px; }
.search_form label { font-size: 16px; font-weight: 600; }
.category li { font-size: 14px; width: 100%; }
.inner-page-search .search_form h2 { font-size: 21px; }
}

@media screen and (max-width:479px) {
.login-register li.login .btn-group .dropdown-menu { left: auto; top: 30px; width: 100%; min-width: inherit; }
}
