@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
a, input, textarea, .btn { outline: medium none; text-decoration: none; transition-duration: 0.5s; -moz-transition-duration: 0.5s; -ms-transition-duration: 0.5s; -o-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; }
a { color: #000; text-decoration: none; }
a:focus { transition-duration: .5s; -moz-transition-duration: .5s; -ms-transition-duration: .5s; -o-transition-duration: .5s; -webkit-transition-duration: .5s; outline: none; }
a:active, a:hover { outline: 0; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: normal; outline: none; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
p, pre { margin: 0; }
code, kbd, pre, samp { font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ''; content: none; }
small { font-size: 75%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { list-style: none; list-style-image: none; margin: 0; padding: 0; outline: none; }
img { border: 0; background-size: 100% 100%; -ms-interpolation-mode: bicubic; outline: none; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; vertical-align: middle; }
button, input { line-height: normal; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; overflow: visible; }
button[disabled], input[disabled] { cursor: default; outline: none; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; height: 13px; width: 13px; outline: none; }
button::-moz-focus-inner, input::-moz-focus-inner {
border: 0;
padding: 0;
}
textarea { overflow: auto; vertical-align: top; }
a:focus, a:hover { color: #23527c; text-decoration: none; }
h1, h2, h3, h4, h5 { color: #464646; text-transform: capitalize; margin-bottom: 15px; font-weight: 600; }
/*--------------Headings--------------------*/

.form-control { background: #ffffff none repeat scroll 0 0; border-color: #6ac5b6; box-shadow: none; height: 40px; }
.form-control:focus { background-color: #f3f9ff; border-color: #3b72ab; box-shadow: none; }
/*.btn-default { background-color: #ebb111; border: medium none; border-radius: 3px; color: #f8f8f8; font-size: 20px; font-weight: 600; padding: 10px 40px; position: relative; overflow: hidden; }
.btn-default:hover { background-color: #3e88d4; color: #fff; text-shadow: 2px 3px 50px rgba(0,0,0,.75); -webkit-box-shadow: inset 0 0 62px rgba(9,37,67,.57); -moz-box-shadow: inset 0 0 62px rgba(9,37,67,.57); box-shadow: inset 0 0 62px rgba(9,37,67,.57); }*/

.btn-care { background-color: #ebb111; border: medium none; border-radius: 3px; color: #f8f8f8; font-size: 20px; font-weight: 600; padding: 10px 40px; position: relative; overflow: hidden; }
.btn-care:hover { background-color: #3e88d4; color: #fff; text-shadow: 2px 3px 50px rgba(0,0,0,.75); -webkit-box-shadow: inset 0 0 62px rgba(9,37,67,.57); -moz-box-shadow: inset 0 0 62px rgba(9,37,67,.57); box-shadow: inset 0 0 62px rgba(9,37,67,.57); }
*/a {
color: #3b72ab;
text-decoration: none;
}
a:focus, a:hover { color: #ebb110; text-decoration: none; }
body { font-family: 'Raleway', sans-serif; color: #7c7c7c; }
.page-section { padding: 35px 0; }
.section-heading h2 { color: #464646; font-size: 40px; font-weight: 600; margin-bottom: 35px; }
.monst { font-family: 'Montserrat', sans-serif; font-weight: normal !important; margin-left: 2px; }
/*###########globle classes#################*/
/*######################################*/

.navbar-default { -webkit-box-shadow: 3px 4px 5px rgba(0,0,0,.16); -moz-box-shadow: 3px 4px 5px rgba(0,0,0,.16); box-shadow: 3px 4px 5px rgba(0,0,0,.16); border: none; min-height: 70px; background: #fff;  padding:5px 0;}
.navbar-default .navbar-brand {
  margin-left: 0 !important;
  margin-top: 0;
  max-width: 190px;
  padding: 0;
}
.navbar-brand.logo > img { max-width: 100%; }
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { color: #3B72AB; }
.navbar-nav > li > a { font-size: 15px; font-weight: 500; padding-bottom: 0; padding-top: 0; }
.navbar-right { margin-top: 25px; }
.login-register { margin-left: 20px; margin-top: 20px; text-align: right; width: 190px; }
.login-register .login > a { background-color: #6ac5b6; }
.login-register > li { display: inline-block; vertical-align: middle; }
.login-register li.page-scroll > h4 { margin: 0; }
.login-register > li > a { background: #3b72ab none repeat scroll 0 0; border-radius: 3px; color: #ffffff; display: block; font-size: 13px; font-weight: 600; padding: 0px 15px; /*text-transform: uppercase;*/ line-height: 34px; }
.login-register li > a:hover { opacity: .8; }
.login-register li { display: inline-block; margin-left: 5px; }
.main-section { /*height: 1300px;*/ margin-top: 70px; }
.search-main-container { background-image: url(../images/search-bg.jpg); background-size: cover; background-position: left center; min-height: 570px; padding-top: 100px; }
div.search_form { background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0; color: #3b72ab; padding: 30px; border-radius: 5px; }
div.search_form .form-control { border-width: 2px; height: 50px; }
.search_form h2 { color: inherit; font-weight: 600; margin-bottom: 20px; }
.search_form label { font-size: 20px; font-weight: normal; }
.example-text { display: inline-block; font-size: 18px; font-weight: 600; margin: 10px 0 50px; width: 100%; }
.popular-search { font-weight: 600; }
.popular-search .popular-seacrh-list { display: inline; margin-left: 5px; }
.popular-search .popular-seacrh-list li { display: inline-block; }
.popular-search .popular-seacrh-list li a { padding: 0 10px; }
.popular-search .popular-seacrh-list li:first-child a { padding-left: 0; }
.popular-search .popular-seacrh-list li::before { background: #3b71ab none repeat scroll 0 0; content: ""; display: inline-block; height: 15px; position: relative; top: 2px; width: 1px; }
.popular-search .popular-seacrh-list li:first-child::before { display: none; }
.search_form .btn.btn-default { top: -15px; }
.search_form .btn.btn-care { top: -15px; }
.category li { color: #69c5b6; font-size: 16px; font-weight: 600; line-height: 34px; text-transform: capitalize; }
.category li a span { }
.locations-container { background-image: url(../images/locations-bg.jpg); background-size: cover; background-position: center center; }
.locations-container .section-heading h2 { color: #fff; }
.locations h3 { color: #ffffff; font-size: 20px; font-weight: 600; margin: 25px 0 15px 0; }
.location-cities > li { line-height: 24px; }
.location-cities li a { color: #f7ffff; }
.location-cities li a:hover { color: #ebb111; }
.location-thumb img { max-width: 100%; }
.list-container { background-color: #f7f7f7; padding: 20px 0; }
.list-header { background-color: #3b72ab; color: #ffffff; padding: 0 15px; position: relative; }
.list-header { background-color: #3b72ab; color: #ffffff; padding: 10px 15px 8px; position: relative; }
.list-header > h3 { font-size: 18px; font-weight: 600; margin-bottom: 0; text-transform: uppercase; }
.list-header h3::before { background-image: url("../images/arroe.png"); background-position: left top; content: ""; display: inline-block; height: 17px; margin-right: 10px; position: relative; top: 2px; width: 17px; }
.list-header > h3 a { color: #fff; }
.list-header > h3 a:hover { color: #ebb111; }
.new { background: #eaaf13 none repeat scroll 0 0; border-radius: 3px; display: inline-block; font-size: 12px; font-weight: 600; padding: 2px 10px; position: absolute; right: 10px; top: 8px; }
.list-inner { padding: 15px 15px 0; }
.jobDetailsInner li { color: #3b72ab; font-weight: 600; }
.short_description { margin: 15px 0; }
.time { color: #3b72ab; }
.featured-jobs-list { margin-bottom: 20px; }
.footer-primary { background: #3b72ab; color: #fff; border-top: 3px solid #6ac5b6; }
.footer-links h3 { font-size: 22px; font-weight: 600; margin-bottom: 20px; color: inherit; }
.footer-links li { line-height: 35px; }
.footer-links li a { color: #c1dfff; font-size: 16px; }
.footer-links li a:hover { color: #ffc80a; }
.footer-links h3 { font-size: 22px; font-weight: 600; margin-bottom: 20px; }
.footer-secoandry { background-color: #1f4871; color: #ffffff; padding: 35px 0; }
.footer-secoandry a { color: #fff; }
.footer-secoandry a:hover { color: #ffc80a; }
.copyright { margin-top: 10px; }
.social-widgets li::before { display: none; }

.social-widgets a i { 
background: #ffffff none repeat scroll 0 0; 
border-radius: 50%; 
color: #3b72ab; 
display: inline-block; 
height: 22px; 
line-height: 22px; 
margin-right: 10px; 
text-align: center; 
width: 22px; 
transition-duration: .5s; 
-moz-transition-duration:.5s;
 -ms-transition-duration:.5s;
 -o-transition-duration:.5s;
 -webkit-transition-duration:.5s;
}


.social-widgets li a:hover i { background: #ffc80a none repeat scroll 0 0; }
.logo-fotter img {
  max-width: 200px; width:100%;
}
/*############ search results page here #############*/


.inner-page-search form.search_form { background: #3b72ab none repeat scroll 0 0; border-radius: 5px; color: #ffffff; padding: 30px; }
.inner-page-search .search_form h2 { font-size: 24px; font-weight: 600; margin-bottom: 10px; }
.inner-page-search .search_form .btn.btn-default { top: 34px; width: 100%; }
.inner-page-search .search_form .btn.btn-care { top: 34px; width: 100%; }
.inner-page-search .example-text { margin: 10px 0 0; }
.main-content-container { margin-top: 20px; }
.search-results-list .list-container { padding-top: 0; }
.search-results-list .list-container { border-bottom: 2px solid #6ac5b6; padding-top: 0; }
.pagination > li { display: inline-block; margin: 0 2px !important; }
.pagination > li > a, .pagination > li > span { background-color: #eaeaea; color: #337ab7; border: none; border-radius: 3px !important; }
.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover { background-color: #dcdcdc; }
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover { background-color: #6ac5b6; }
.search-results-list h2 .monst { color: #ebb110; }
.main-content-container h2 { font-size: 24px; }
.filter-box { background: #f6f6f6 none repeat scroll 0 0; border-top: 5px solid; color: #3b72ab; font-weight: 600; line-height: 24px; margin-bottom: 25px; padding: 20px 15px; }
.filter-box li span { display: inline-block; margin-left: 10px; position: relative; top: 4px; }
.border-green { border-color: #6AC5B6; }
.border-yellow { border-color: #e8be49; }
.email-box .btn { background: #ffffff none repeat scroll 0 0; border-radius: 0; color: #3b72ab; font-family: FontAwesome; font-size: 16px; height: 35px; }
.email-box { background-color: #6ac5b6; background-image: url(../images/mil-box.png), url(../images/plane.png); background-position: -2% 103%, 103% 103%; background-repeat: no-repeat; height: 200px; padding: 20px 15px; margin-bottom: 25px; }
.email-box > h4 { color: #ffffff; }
.email-box .form-control { border: medium none; border-radius: 0; height: 35px; }
.keywords { padding-right: 20px; position: relative; }
.keywords > ul { display: inline; }
.keywords li { display: inline; }
.keyword-filter .filter-box { font-weight: normal; color: #7c7c7c; }
.keyword-filter .filter-box ul li a { color: #7c7c7c; }
.keyword-filter .filter-box ul li a:hover { color: #7c7c7c; text-decoration: line-through; }
.close-btn > a { background: #cccccc none repeat scroll 0 0; border-radius: 50%; color: #9c9c9c; display: block; font-size: 12px; height: 18px; line-height: 16px; text-align: center; width: 18px; }
.close-btn > a:hover { color: #000; }
.close-btn { float: right; position: absolute; right: 0; top: 6px; }
/*############ job-details results page here #############*/

.right-sidebar .filter-box { color: inherit; font-weight: inherit; line-height: 24px; }
.similar-jobs h5 { line-height: 20px; margin-bottom: 5px; }
.similar-jobs .filter-box li { border-bottom: 1px dotted #6ac5b6; margin-bottom: 10px; padding-bottom: 5px; }
.similar-jobs-top .filter-box li { border-bottom: 1px dotted #6ac5b6; margin-bottom: 5px; padding-bottom: 5px; display: inline-block; width: 100%; font-size: 12px; }
.similar-jobs-top .filter-box li a { font-size: 12px; }
.job-detail-container { background: #f6f6f6 none repeat scroll 0 0; border-bottom: 2px solid #6ac5b6; border-top: 5px solid #ebb110; line-height: 24px; margin-bottom: 25px; padding: 20px 20px 40px; }
.job-details { background: #ffffff none repeat scroll 0 0; border-radius: 5px; padding: 10px 0; display: inline-block; width: 100%; }
.job-details ul li { color: #3b72ab; font-weight: 600; }
.job_full_description { display: inline-block; margin-top: 30px; padding-bottom: 25px; width: 100%; }
.company-logo.pull-right img { border: 1px solid #6ac5b6; }
.job_full_description p { margin-bottom: 15px; }
.job-detail-container .time { display: inline; font-weight: 600; margin-right: 15px; }
.job-detail-container .company-logo { margin-left: 25px; }
.job-detail-container .job-detail-header h3::before { background-image: url("../images/arrow-blue.png"); background-position: left top; content: ""; display: inline-block; height: 17px; margin-right: 10px; position: relative; top: 2px; width: 17px; }
.button-apply { margin-top: -10px; }
/*############ register page here #############*/

.parent-tabs { border: medium none; margin-bottom: 27px; position: relative; }
.circle-dot { background: #cccccc none repeat scroll 0 0; border-radius: 50%; display: block; height: 18px; margin: 0 auto 15px; width: 18px; }
.parent-tabs li.active .circle-dot, .parent-tabs li:hover .circle-dot { background-color: #6ac5b6; }
.parent-tabs li { display: inline-block; float: none; font-weight: 600; font-size: 16px; }
.parent-tabs li a, .parent-tabs li a:hover { min-width: 150px; color: #464646; background: none; border: none; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { background: none; border: medium none; color: #555555; cursor: default; }
.parent-tabs::before { background: #e2e2e2 none repeat scroll 0 0; content: ""; display: block; height: 5px; margin: 0 auto; position: relative; text-align: center; top: 21px; width: 311px; }
.parent-tabs-content { background-color: #f8f8f8; border: 1px solid #6ac5b6; }
.parent-tabs-content { background-color: #f8f8f8; border: 1px solid #6ac5b6; border-radius: 5px; margin-bottom: 30px; padding: 20px 25px; }
.select-plus-input .btn { background: #ffffff none repeat scroll 0 0; border: 1px solid #6ac5b6; color: #7c7c7c; height: 42px; padding: 0; width: 60px; font-size: 14px; font-weight: normal; }
.select-plus-input .btn:hover { box-shadow: none; }
.tab-heading h2 { color: #3b72ab; font-size: 18px; }
.tab-heading h2::before { background: #dfdfdf none repeat scroll 0 0; content: ""; display: inline-block; height: 1px; width: 120px; margin-right: 15px; position: relative; top: -5px; }
.tab-heading h2::after { background: #dfdfdf none repeat scroll 0 0; content: ""; display: inline-block; height: 1px; width: 120px; margin-left: 15px; position: relative; top: -5px; }
.select-plus-input .form-control { margin-bottom: 0; }
.parent-tabs-content .form-group { margin-bottom: 0; }
.parent-tabs-content .form-field { margin-bottom: 25px; }
.fill-address { min-height: 134px; }
.seprator { background: #d2dde9 none repeat scroll 0 0; float: left; height: 2px; width: 100%; margin-bottom: 20px; }
.tabs-subheading { border-bottom: 1px solid #dfdfdf; margin-bottom: 15px; }
.tabs-subheading h4 { margin-bottom: 10px; }
#terms a, #conv-history a { text-decoration: underline; }
/*############ register page inner tabs here #############*/


.child-tabs { margin-bottom: 25px; }
.child-tabs li > a { background: #e2e2e2 none repeat scroll 0 0; color: #7e7e7e; font-size: 16px; font-weight: 600; padding: 5px 10px; }
.child-tabs > li { float: none; display: inline-block; }
.child-tabs > li.active a, .child-tabs li > a:hover, .child-tabs li > a:focus { background: #6ac5b6 none repeat scroll 0 0 !important; color: #ffffff !important; }
#declaration .checkbox { font-size: 16px; line-height: 24px; margin-bottom: 25px; }
.green-heading { color: #6ac5b6; font-size: 18px; font-weight: normal; }
.register-form .form-field label, .register-form strong { color: #464646; font-weight: 600; }
.questions .btn.btn-primary.pink { background: #dfe2e6 none repeat scroll 0 0; border-color: #F8F8F8; box-shadow: none; color: #464646; }
.questions .btn.btn-primary.pink:hover, .questions .btn.btn-primary.pink.active { background-color: #6ac5b6; color: #fff; }
.appli-questions { border-bottom: 1px solid #dfdfdf; margin-bottom: 15px; padding-bottom: 15px; }
.appli-questions .question { margin-bottom: 10px; }
.select-days { border-top: 1px solid #dfdfdf; display: inline-block; margin-bottom: 15px; padding-top: 15px; width: 100%; }
.hightlight-heading { color: #3b72ab; font-size: 16px; font-weight: 600; text-transform: uppercase; }
#availablity .seprator { margin-bottom: 25px; margin-top: 20px; }
.hours-shedule .btn.btn-primary { background: #dfe2e6 none repeat scroll 0 0; border-color: #F8F8F8; box-shadow: none; color: #464646; }
.hours-shedule .btn.btn-primary:hover, .hours-shedule .btn.btn-primary.active { background-color: #3b72ab; color: #fff; }
/*.appli-questions:last-child{ border-bottom:none; margin-bottom:0;}*/

.row-centered { text-align: center; }
.col-centered { display: inline-block; float: none; /* reset the text-align */
text-align: left; /* inline-block space fix */
margin-right: -4px; vertical-align: top; }
.emailphone { margin-top: 50px; }
.emailphone span { display: block; }
.footer_secoand { margin-top: 35px; }
.footer_secoand p { margin-bottom: 15px; }
.form_all.login { background: #eeeeee; border: 1px solid #dddddd; border-radius: 10px; max-width: 450px; padding: 25px; margin: 50px auto; overflow: hidden; }
.form_all.login h3 { border-bottom: 1px solid #ddd; margin: 0 -25px 15px -25px; padding: 15px; background: #666; color: #fff; }
.loginbutton { text-align: right; }
.custom_header { padding: 15px; }
.custom_header h5 { font-size: 18px; margin: 0; line-height: 34px; }
.myaccount .box-body label { margin-top: 10px; float: left; max-width: 50%; }
.hr_line { clear: both; display: block; margin: 0 -15px; padding: 15px 0; }
.myaccount .f-lbl { float: right; margin-top: 10px; }
.login-register li.login .dropdown-menu { left: auto; right: 0 }
.login-register li.login .dropdown-menu li { margin: 0; text-align: left; display: block; border-bottom: 1px solid #ddd; }
.login-register li.login .dropdown-menu li:last-child { border-bottom: none; }
.uploadsbuttons { text-align: right; }
#tab_f .box.box-primary { border-top-color: rgba(0, 0, 0, 0); }
#tab_f .invoice-col { margin-bottom: 10px; }
#tab_f .alert h4 { margin-top: 10px; }
#tab_f .text-primary { }
.job_sub_heading { font-size: 16px; padding: 0 0 15px 0; margin-bottom: 15px; border-bottom: 1px solid #ddd; }
.upload_add_more_button { text-align: right; margin-top: 10px; }
.upload_add_more_doc { text-align: left; }
.upload_add_more_doc .input { display: inline-block; }
.blue_hadaing { background: #3b72ab; border-radius: 5px; color: #ffffff; margin: 0; padding: 15px; margin-bottom: 20px; }
.blue_hadaing h2 { margin: 0; color: #fff; font-size: 24px; font-weight: 600; }
.login_heading { margin-top: 15px; }
.tab_left h2 { font-size: 24px; }
.tab_left .nav-stacked > li.active::after { border-bottom: 13px solid rgba(0, 0, 0, 0); border-left: 10px solid #3c8dbc; border-top: 13px solid rgba(0, 0, 0, 0); content: ""; left: 100%; margin-top: -13px; position: absolute; top: 50%; }
.tab_left .nav-stacked > li.active a, .tab_left .nav-stacked > li.active a:hover { background: #3c8dbc; color: #fff; }
.tab_left .nav-stacked > li a:hover { border-left-color: #3c8dbc; background: none; }
/*.tab_left .nav-stacked > li > a:hover::after {
  border-bottom: 13px solid rgba(0, 0, 0, 0);  border-left: 10px solid #3c8dbc;  border-top: 13px solid rgba(0, 0, 0, 0);  content: "";  left: 100%;  margin-top: -13px;  position: absolute;  top: 50%;}*/
.tab_left .nav-stacked { background: #f6f6f6; padding-right: 0; }
.tab_left .nav-stacked h2 { background: #fff; border-bottom: 5px solid #6ac5b6; padding: 18px 0; }
.input-error { color: #dd4b39; border-color: #dd4b39 !important; }
/*31-05-2016*/
.register1 .btn.btn-primary.pink { background: #dfe2e6 none repeat scroll 0 0; border-color: #F8F8F8; box-shadow: none; color: #464646; }
.text-normal { text-transform: none; }
.vmiddle { vertical-align: middle!important; }
.nobb { border-bottom: none!important; }
.label-pill { border-radius: 10rem; padding-left: 0.6em; padding-right: 0.6em; }
.my-ui-list ul, ol { list-style: disc!important; padding-left: 15px; }
.my-li { padding: 5px; }
p { font-size: 14px; }
.register1 .btn.btn-primary.pink:hover, .register1 .btn.btn-primary.pink.active { background-color: #6ac5b6; color: #fff; }
.red { color: #d14; }
.login-register li { margin-left: 10px; }
.has-error { border-color: #dd4b39 !important; box-shadow: none; }
#employmentsResult { width: 100%; display: inline-block; }
.gap_error { border: 2px solid #fc4441; color: #fc4441; display: block; margin-bottom: 10px; padding: 10px; width: 100%; }
.sameElementError { color: #fc4441; padding-top: 7px; display: block; }
.form-group .has-error { position: relative; }
.form-group .input-error { bottom: -17px; font-size: 12px; position: absolute; }
.form-group .input-error2 {
 bottom: -16px;
font-size: 12px;
margin-left: -12px;
color: #dd4b39;
position: absolute; }

.action-btns-account {
  padding: 30px 0 50px 0;
}

.action-btns-account .btn i {
  display: block;
  font-size: 60px;
  margin-bottom: 10px;
}

.action-btns-account .btn {
  margin: 0 10px 25px;
  max-width: 220px;
  padding: 20px 0;
  width: 100%;
}
.user_doc_image{
	max-width: 70px;
}
.upload_add_more_doc .input.file {
  position: relative;
}

.edu_remove {
  position: absolute;
  right: 5px;
  top: 15px;
}
#edu_add {
  margin-top: 15px;
}
.myaccount_anchor{
	color: #ffffff;
}

.upload_add_more_doc  .innerHtml a{ display: inline-block;margin-top: 20px;}


/*------------------------
admin results css here
---------------------------*/


.results-list{ height:540px; overflow:auto;}

.results-list table th {
  background: #3b72ab none repeat scroll 0 0;
  color: #ffffff;
}

.results-list table th a{ color:#fff;}

.results-list table th a:hover{ color:#6AC5B6;}

.highlight {
  background: #6ac5b6 none repeat scroll 0 0 !important;
   color: #ffffff;
    font-size: 18px; font-weight: normal;
}

.admin-pages .pagination {
  border-radius: 4px;
  display: inline-block;
  margin: 0;
  padding-left: 0;
}

.myaccount .browse-btns > label {
  display: block;
  width: 100%;
}


.admin-pages  .browse-btns .input.file {
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}

.admin-pages  .browse-btns .btn.btn-default {
  width: 100%;
  text-align: left;
}

.admin-pages  .myaccount .checkbox label {
  display: inline-block;
  margin-top: 33px;
}

.admin-pages  .user-list-new label {
  max-width: 100% !important;
}
.signature legend{
	width: 8%;
}
.signature label{
	padding-left: 0px;
}
.not_login{
	background: #00a65a none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    margin: 0;
    padding: 15px;
    margin-top: 10px;
}
.bold{
	font-weight: bold;
}
.error-message{
	color: #dd4b39 !important
}
.center{
	text-align: center !important;
}
.welcome{
	margin-left: 21px;
	font-size: 20px;
}
.person{
	font-weight: bold;
	font-size: 20px;
	margin-left: 7px;
}
.welcome_admin{
	padding-right: 10px;
	vertical-align: middle;
	padding-top: 7px;
	font-size: 15px;
}
.edu_row .addedMoreDiv {
  position: relative;
}
.inner-title{
	vertical-align: middle;
}
.inner-title input{
	margin-bottom: 6px;
	margin-right: 9px;
}
.inner-note{
	background-color: #00C0EF;
	border: 1px solid transparent;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 15px;
	float: left;
	color: #ffffff;
}
.type_div{
	margin-bottom: 20px;
	width: 295px;
}
.no-record{
	color: red;
	text-align: center;
}


/*.action-btns .btn {
  margin-bottom: 5px;
  min-width: 65px;
}

.action-btns .btn:last-child{ margin-bottom:0;}*/


@media screen and (min-width:1199px) {
.admin-pages .container {width: 1306px; }

}
